body {
    background: linear-gradient(#FFFDF6, #A0C878);
    font-family: "Georgia", serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    color: #1F4529;
    font-family: "Georgia", serif;
    text-align: center;
    margin-top: 40px;
    font-size: 3em;
    display: inline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    width: 90%;
    max-width: 1200px;
}

.formContainer {
    text-align: left;
    background-color: #73946B;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 20%;
    margin-right: 20px;
}

label {
    color: #FFFDF6;
    font-size: 14px;
    margin-right: 10px;
}

input {
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #537D5D;
    font-family: "Georgia", serif;
    color: #FFFDF6;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
}

button:hover {
    background-color: #D2D0A0;
    color: #537D5D;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #73946B;
    color: white;
    text-align: center;
    
}

td {
    background-color: #FAF6E9;
    color: #537D5D;
    text-align: center;
    border-bottom: 1px solid #D2D0A0;

}

.delete-btn {
    background-color: #A94A4A;
    color: #FAF6E9;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #780C28;
    color: #FFFDF6;
}


#productsTable tbody tr {
    background-color: #FFFDF6;
    color: #000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}